<div id="dialog"
    class="hide"
    role="dialog"
    aria-labelledby="dialog-title"
    aria-describedby="dialog-description"
    aria-modal="true">
  <div tabindex="0" class="dialog-focus"></div>
  <h2 id="dialog-title" class="govuk-heading-l">{{ modelTitle }}</h2>
  <p id="dialog-description">{{ modelDescription }}</p>

  <a  class="govuk-button govuk-button--warning govuk-!-margin-bottom-1" govuk-!-margin-bottom-1" data-module="govuk-button" href="{{ modelBtnHref }}">
    {{ modelBtn1 }}
  </a>

  <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-1 govuk-!-margin-right-1"  onclick="hideModal()" aria-label="Close Navigation" class="close-dialog" data-module="govuk-button">
    {{ modelBtn2 }}
  </button>
</div>

<div id="dialog-overlay" class="hide" tabindex="-1" onclick="hideModal()"></div>
