<fieldset class="govuk-fieldset">
              
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        Home address
      </h2>
    </legend>

    <div id="lookup">

        <div id="find" class="govuk-form-group govuk-!-margin-bottom-0">
            <label class="govuk-label" for="address-postcode">
                Postcode
            </label>
            <input class="govuk-input govuk-input--width-10 govuk-!-margin-bottom-2" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code">
            <button id="findBtn" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="width:auto;">
                Find address
            </button>
        </div>

        <div id="select" class="govuk-form-group govuk-!-margin-bottom-6">
            <label class="govuk-label" for="sort">
            Select an address
            </label>
            <select class="govuk-select" id="sort" name="sort">
                <option value="1" selected>1 Shottery Road, Stratford-Upon-Avon, CV37 9QA</option>
                <option value="2">2 Shottery Road, Stratford-Upon-Avon, CV37 9QA</option>
                <option value="3">3 Shottery Road, Stratford-Upon-Avon, CV37 9QA</option>
                <option value="4">4 Shottery Road, Stratford-Upon-Avon, CV37 9QA</option>
                <option value="5">5 Shottery Road, Stratford-Upon-Avon, CV37 9QA</option>
                <option value="6">6 Shottery Road, Stratford-Upon-Avon, CV37 9QA</option>
                <option value="7">7 Shottery Road, Stratford-Upon-Avon, CV37 9QA</option>
                <option value="8">8 Shottery Road, Stratford-Upon-Avon, CV37 9QA</option>
                <option value="9">9 Shottery Road, Stratford-Upon-Avon, CV37 9QA</option>
                <option value="10">10 Shottery Road, Stratford-Upon-Avon, CV37 9QA</option>
            </select>

            {% set addressDeets %}
            {% call govukFieldset({
                legend: {
                  text: "Enter your address",
                  classes: "govuk-fieldset__legend--s",
                  isPageHeading: false
                }
              }) %}
              
                {{ govukInput({
                  label: {
                    html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
                  },
                  id: "address-line-1",
                  name: "address-line-1",
                  autocomplete: "address-line1"
                }) }}
              
                {{ govukInput({
                  label: {
                    html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
                  },
                  id: "address-line-2",
                  name: "address-line-2",
                  autocomplete: "address-line2"
                }) }}
              
                {{ govukInput({
                  label: {
                    text: "Town or city"
                  },
                  classes: "govuk-!-width-two-thirds",
                  id: "address-town",
                  name: "address-town",
                  autocomplete: "address-level2"
                }) }}
              
                {{ govukInput({
                  label: {
                    text: "Postcode"
                  },
                  classes: "govuk-input--width-10",
                  id: "address-postcode",
                  name: "address-postcode",
                  autocomplete: "postal-code"
                }) }}
              
              {% endcall %}
            {% endset %}

            {{ govukDetails({
                summaryText: "Can't find your address?",
                html: addressDeets,
                classes: "govuk-!-margin-top-4"
              }) }}
        </div>

    </div>

  </fieldset>