<div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Occupation
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="select" selected>-- Please select --</option>
    <option value="accountant">Accountant</option>
    <option value="administrator">Administrator (permanent) at a GP or dentist’s surgery</option>
    <option value="administrator2">Administrator (permanent) at a school, college or university</option>
    <option value="pilot">Airline pilot</option>
    <option value="bank">Bank, building society or credit union official</option>
    <option value="chiropodist">Registered chiropodist (also known as ‘podiatrist’)</option>
    <option value="care home director">Care home director</option>
    <option value="Carer">Registered carer</option>
    <option value="Registered charity employee">Registered charity employee</option>
    <option value="civil-servant">Civil servant</option>
    <option value="oaths">Commissioner for oaths</option>
    <option value="councillor">Councillor, for example a local or county councillor</option>
    <option value="dentist">Dentist</option>
    <option value="dietitian">Registered dietitian</option>
    <option value="director">Director of a limited company</option>
    <option value="doctor">Doctor or surgeon</option>
    <option value="engineer">Engineer or technician (professionally registered with the Engineering Council)</option>
    <option value="stockbroker">Financial services intermediary, for example a stockbroker or insurance broker</option>
    <option value="fireman">Fire service official</option>
    <option value="funeral director">Funeral director</option>
    <option value="">High Court enforcement officer</option>
    <option value="">Insurance or assurance agent (chartered)</option>
    <option value="">Jobcentre Plus work coach</option>
    <option value="">Justice of the Peace</option>
    <option value="">Lawyer, barrister or solicitor</option>
    <option value="Learning disability nurse">Learning disability nurse</option>
    <option value="">Legal secretary</option>
    <option value="">Licensee of a public house</option>
    <option value="">Local government officer</option>
    <option value="">Manager or personnel officer of a limited company</option>
    <option value="">Member, associate or fellow of a professional body</option>
    <option value="">Member of Parliament</option>
    <option value="">Merchant Navy officer</option>
    <option value="">Minister of a recognised religion</option>
    <option value="">Notary</option>
    <option value="">Nurse</option>
    <option value="">Officer of the armed services</option>
    <option value="">Registered optician</option>
    <option value="">Paralegal</option>
    <option value="">Registered pharmacist</option>
    <option value="">Registered physiotherapist</option>
    <option value="">Police officer</option>
    <option value="">Post Office official</option>
    <option value="">President or secretary of a recognised organisation</option>
    <option value="">Probation officer</option>
    <option value="">Social worker</option>
    <option value="">Solicitor</option>
    <option value="">Surveyor</option>
    <option value="">Teacher or lecturer</option>
    <option value="">Trustee of a registered charity</option>
    <option value="">Valuer or auctioneer</option>
    <option value="">Warrant Officers and Chief Petty Officers</option>
  </select>
</div>
