{% set whenUse %}
{% if data['when-used'] %}
    {{data['when-used'] | safe}}
{% else %}
    {{data.lpa.decisions.whenUsed}}
{% endif %}
{% endset %}

{% set howAct %}
{% if data['step-down'] %}
    {{data['step-down']}}
{% else %}
    {{data.lpa.decisions.howUsed}}
{% endif %}
{% endset %}

{% set restrictions %}
{% if data.restrictions %}
    {{data.restrictions}}
{% else %}
    {{data.lpa.decisions.restrictions}}
{% endif %}
{% endset %}

{% set verified %}
<strong class="govuk-tag" style="float: right;">
  id verified
</strong>
{% endset %}

<h2 class="govuk-heading-l govuk-!-margin-bottom-2">Your details</h2>

{{ govukSummaryList({
rows: [
    {
    key: {
        text: "Name"
    },
    value: {
        html: data.lpa.donor.fullname + verified
    }
    },
    {
    key: {
        text: "Date of birth"
    },
    value: {
        text: data.lpa.donor.dob
    }
    },
    {
    key: {
        text: "Email address"
    },
    value: {
        text: data.lpa.donor.email
    }
    },
    {
    key: {
        text: "Address"
    },
    value: {
        html: data.lpa.donor.address | formatAddress
    }
    }
]
}) }}

<h2 class="govuk-heading-l govuk-!-margin-bottom-2">
Attorney 1
</h2>

{{ govukSummaryList({
rows: [
    {
    key: {
        text: "Name"
    },
    value: {
        html: data.lpa.attorney.fullname
    }
    },
    {
    key: {
        text: "Date of birth"
    },
    value: {
        text: data.lpa.attorney.dob
    }
    },
    {
    key: {
        text: "Email address"
    },
    value: {
        text: data.lpa.attorney.email
    }
    },
    {
    key: {
        text: "Address"
    },
    value: {
        html: data.lpa.attorney.address | formatAddress
    }
    }
]
}) }}

<h2 class="govuk-heading-l govuk-!-margin-bottom-2">
Attorney 2
</h2>

{{ govukSummaryList({
rows: [
    {
    key: {
        text: "Name"
    },
    value: {
        html: data.lpa.attorney2.fullname
    }
    },
    {
    key: {
        text: "Date of birth"
    },
    value: {
        text: data.lpa.attorney2.dob
    }
    },
    {
    key: {
        text: "Email address"
    },
    value: {
        text: data.lpa.attorney2.email
    }
    },
    {
    key: {
        text: "Address"
    },
    value: {
        html: data.lpa.attorney2.address | formatAddress
    }
    }
]
}) }}

<h2 class="govuk-heading-l govuk-!-margin-bottom-2">
Replacement attorney
</h2>

{{ govukSummaryList({
rows: [
    {
    key: {
        text: "Name"
    },
    value: {
        html: data.lpa.replacementAttorney.fullname
    }
    },
    {
    key: {
        text: "Date of birth"
    },
    value: {
        text: data.lpa.replacementAttorney.dob
    }
    },
    {
    key: {
        text: "Email address"
    },
    value: {
        text: data.lpa.replacementAttorney.email
    }
    },
    {
    key: {
        text: "Address"
    },
    value: {
        html: data.lpa.replacementAttorney.address | formatAddress
    }
    }
]
}) }}

<h2 class="govuk-heading-l govuk-!-margin-bottom-2">LPA decisions</h2>

{{ govukSummaryList({
rows: [
    {
    key: {
        text: "Type of LPA"
    },
    value: {
        text: data.lpa.lpaType
    }
    },
    {
    key: {
        text: "When the LPA can be used"
    },
    value: {
        text: whenUse
    }
    },
    {
    key: {
        text: "How attorneys act"
    },
    value: {
        text: howAct
    }
    },
    {
    key: {
        text: "Restrictions"
    },
    value: {
        text: restrictions
    }
    }
]
}) }}