{% set whenUse %}
  {% if data['when-used'] %}
    {{data['when-used'] | safe}}
  {% else %}
    {{data.lpa.decisions.whenUsed}}
  {% endif %}
{% endset %}

{% set whenUse2 %}
  {% if data['when-used2'] %}
    {{data['when-used2'] | safe}}
  {% else %}
    {{data.lpa.decisions.whenUsed2}}
  {% endif %}
{% endset %}

{% set howAct %}
  {% if data['step-down'] %}
    {{data['step-down']}}
  {% else %}
    {{data.lpa.decisions.howUsed}}
  {% endif %}
{% endset %}

{% set restrictions %}
  {% if data.restrictions %}
    {{data.restrictions}}
  {% else %}
    {{data.lpa.decisions.restrictions}}
  {% endif %}
{% endset %}

{% set verified %}
  <strong class="govuk-tag" style="float: right;">
    id verified
  </strong>
{% endset %}

{% set CPverified %}
  {% if data.lock == "true" %}
  <strong class="govuk-tag" style="float: right;">
    id verified
  </strong>
  {% endif %}
{% endset %}

<h2 id="decisions" class="govuk-heading-l govuk-!-margin-bottom-2">
    LPA decisions
</h2>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Type of LPA"
      },
      value: {
        text: data.lpa.lpaType
      }
    },
    {
      key: {
        text: "When the LPA can be used"
      },
      value: {
        text: whenUse2
      },
      actions: {
        items: [
          {
            href: "/donor/decide/v1/when-attorneys-use",
            text: "Change",
            visuallyHiddenText: " when the LPA can be used"
          }
        ]
      } if data.lock != "true" and data.acting != "cp"
    },
    {
      key: {
        text: "Who are the attorneys"
      },
      value: {
        text: "You and " + data.lpa.attorney2.fullname if data.acting == "attorney" else data.lpa.attorney.fullname + " and " + data.lpa.attorney2.fullname
      },
      actions: {
        items: [
          {
            href: "/donor/decide/v1/choose-attorneys",
            text: "Change",
            visuallyHiddenText: " your attorneys"
          }
        ]
      } if data.lock != "true" and data.acting != "cp"
    },

    {
      key: {
        text: "How the attorneys must work together"
      },
      value: {
        text: howAct
      },
      actions: {
        items: [
          {
            href: "/donor/decide/v1/how-attorneys-act",
            text: "Change",
            visuallyHiddenText: " how the attorneys must work together"
          }
        ]
      } if data.lock != "true" and data.acting != "cp"
    },
    {
      key: {
        text: "Who is the replacement attorney"
      },
      value: {
        html: data.lpa.replacementAttorney.fullname
      },
      actions: {
        items: [
          {
            href: "/donor/decide/v1/choose-replacement-attorneys",
            text: "Change",
            visuallyHiddenText: " your replacement attorneys"
          }
        ]
      } if data.lock != "true" and data.acting != "cp"
    },
    {
      key: {
        text: "Restrictions"
      },
      value: { 
        html: '<p style="white-space: pre-line;">' + restrictions + '</p>'
      },
      actions: {
        items: [
          {
            href: "/donor/decide/v1/restrictions",
            text: "Change",
            visuallyHiddenText: " your restrictions"
          }
        ]
      } if data.lock != "true" and data.acting != "cp"
    }
  ]
}) }}

<h2 class="govuk-heading-l govuk-!-margin-bottom-2">
  People named on the LPA
</h2>

<h3 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">
  Donor
</h3>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        html: data.lpa.donor.fullname + verified
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        text: data.lpa.donor.dob
      }
    },
    {
      key: {
        text: "Email address"
      },
      value: {
        text: data.lpa.donor.email
      }
    },
    {
      key: {
        text: "Address"
      },
      value: {
        html: data.lpa.donor.address | formatAddress
      }
    }
  ]
}) }}

{% if showCP == true %}

<h3 class="govuk-heading-m govuk-!-margin-top-9 govuk-!-margin-bottom-2">
  Certificate provider
</h3>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        html: data.lpa.certificateProvider.fullname + CPverified
      },
      actions: {
        items: [
          {
            href: "/donor/decide/v1/choose-certificate-provider",
            text: "Change",
            visuallyHiddenText: "certificate provider"
          }
        ]
      } if data.lock != "true"
    },
    {
      key: {
        text: "Email address"
      },
      value: {
        text: data.lpa.certificateProvider.email
      },
      actions: {
        items: [
          {
            href: "/donor/decide/v1/choose-certificate-provider",
            text: "Change",
            visuallyHiddenText: "CP email"
          }
        ]
      } 
    } if data.lock != "true"
  ]
}) }}

{% endif %}

<h3 class="govuk-heading-m govuk-!-margin-top-9 govuk-!-margin-bottom-2">
  Attorneys
</h3>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        html: data.lpa.attorney.fullname + "<br><span class='govuk-hint'>This should be the name you use on formal documents, such as your passport, driving licence or bank accounts</span>"
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        text: data.lpa.attorney.dob
      }
    },
    {
      key: {
        text: "Email address"
      },
      value: {
        text: data.lpa.attorney.email
      },
      actions: {
        items: [
          {
            href: "edit?change=email&user=attorney",
            text: "Change" if attorneyEdit==true,
            visuallyHiddenText: "email address"
          }
        ]
      }
    },
    {
      key: {
        text: "Address"
      },
      value: {
        html: data.lpa.attorney.address | formatAddress
      },
      actions: {
        items: [
          {
            href: "edit?change=address&user=attorney",
            text: "Change" if attorneyEdit==true,
            visuallyHiddenText: "address"
          }
        ]
      }
    }
  ]
}) }}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        html: data.lpa.attorney2.fullname
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        text: data.lpa.attorney2.dob
      }
    },
    {
      key: {
        text: "Email address"
      },
      value: {
        text: data.lpa.attorney2.email
      }
    },
    {
      key: {
        text: "Address"
      },
      value: {
        html: data.lpa.attorney2.address | formatAddress
      }
    }
  ]
}) }}

<h3 class="govuk-heading-m govuk-!-margin-top-9 govuk-!-margin-bottom-2">
  Replacement attorney
</h3>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        html: data.lpa.replacementAttorney.fullname
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        text: data.lpa.replacementAttorney.dob
      }
    },
    {
      key: {
        text: "Email address"
      },
      value: {
        text: data.lpa.replacementAttorney.email
      }
    },
    {
      key: {
        text: "Address"
      },
      value: {
        html: data.lpa.replacementAttorney.address | formatAddress
      }
    }
  ]
}) }}
