
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Prototype your service using GOV.UK Prototype Kit
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-heading-m govuk-!-margin-bottom-0">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-2">
            Tested
          </h2>
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Title</th>
            <th class="govuk-table__header" scope="col">Date</th>
            <th class="govuk-table__header" scope="col">Link</th>
            <th class="govuk-table__header" scope="col">Research</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">User Research Journey</th>
            <td class="govuk-table__cell">September 2022</td>
            <td class="govuk-table__cell">
              <a href="/dashboard" class="govuk-link">Launch</a><br>
            </td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Tech Journey</th>
            <td class="govuk-table__cell">September 2022</td>
            <td class="govuk-table__cell">
              <a href="/dashboard-tech-demo" class="govuk-link">Launch</a><br>
            </td>
            <td class="govuk-table__cell"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
