{% extends "layout.html" %}

{% block pageTitle %}
  Send LPA data to your POD
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "/dashboard"
    })
  }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Add LPA to POD</h1>
    <p class="govuk-body">Some content to tell the user whats going to happen</p>

    {{ govukRadios({
        idPrefix: "how-many-balls",
        name: "how-many-balls",
        fieldset: {
          legend: {
            text: "Which POD do you want to use?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "gds",
            text: "GDS identity"
          },
          {
            value: "google_wallet",
            text: "Google wallet"
          }
        ]
      }) }}

      {{ govukButton({ href: "/gds/account/login", text: "Continue" }) }}
  </div>
</div>

{% endblock %}
