{% extends "layout.html" %}

{% block pageTitle %}
  Send LPA data to your POD
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "/dashboard"
    })
  }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Add LPA to POD</h1>
    <p class="govuk-body">Some content to tell the user whats going to happen</p>

    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                Which POD do you want to use?
            </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                GDS identity
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                Google wallet
                </label>
            </div>
            </div>
        </fieldset>
    </div>

    <a href="/pod-link">
        <button class="govuk-button">Continue</button>
    </a>
  </div>
</div>

{% endblock %}
