{% extends "layout.html" %}

{% block pageTitle %}
    What is a GOV.UK account?    
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "/dashboard"
    })
  }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">What is a GOV.UK account?</h1>
    
    <p class="govuk-body">A GOV.UK account lets you keep your important government documents in one place, no matter where you go.</p>
    <p class="govuk-body">You can securely access and share important documents like your driving licence, lasting power of attorney (LPA), and national insurance card.</p>
    <p class="govuk-body">If any of your documents change, they can be updated in your wallet.</p>
    <p class="govuk-body">You can access your account online or from the GOV.UK app on your phone.</p>

    <h2 class="govuk-heading-l">Why add an LPA to your GOV.UK account?</h2>
    <p class="govuk-body">Whenever you want to make a decision on Alex’s behalf, organisations will need to see the LPA.</p>

    <p class="govuk-body">If you add an LPA to your account, you can quickly and securely grant organisations access to the LPA.</p>

    <p class="govuk-body">You can decide whether to give organisations one-off, temporary access to the LPA, or ongoing access which allows them to view the LPA whenever they need to.</p>
  </div>
</div>

{% endblock %}
